@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

@keyframes spinning {
  0% {
    transform: rotate(0deg);

  } 100%{
    transform: rotate(360deg);
  }
}

body{
  background-color: rgb(36, 36, 36);
  font-family: 'Source Sans Pro', sans-serif;
}


#background{
  position: fixed;
  display: flex;
  align-items: center;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  animation: spinning 10s infinite linear;
}

#background img{
  width: 100%;
  height: 100%;
}

#top-bar{
  color: white;
  height: 10vh;
  display: flex;
  flex-direction: row;
}

#left-top-bar {
  text-align: center;
  font-size: 2.5em;
  margin-left: 5vw;
  width: 25%;
}

#right-top-bar{
  font-size: 1.7em;
  margin-left: auto;
  margin-right: 2vw;
}

#main-content{
  margin-top: 5vh;
  width: 70%;
  min-height: 80vh;
  margin-left: 15%;
  border-radius: 40px; 
}

#row-buttons{
  height: 10vh;
  width: 80%;
  margin-left: 10%;
  padding-top: 2vh;
  display: flex;
  flex-direction: row;
}

#row-buttons-left {
  width: 80%;
}

#row-buttons-right{
  width: 15%;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


.search-box {
  font-size: 1.5em;
  color: white;

  background: transparent;
  border: 0;
  border-bottom: 2px solid #fba81f;
  width: 100%;
  height: 5vh;
}

.search-box:focus{
  outline: none;
  border-bottom: 2px solid white;
}

.button{
  background-color: #fba81f;
  backdrop-filter: blur(5px);
  border:0;
  border-radius: 10px;

  width: 10vw;
  height: 5vh;
}

#list-of-to-do {
  margin-left: 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.todo-row{
  padding: 1%;
  width: 100%;
  min-height: 5vh;
  font-size: 2em;
  text-align: top;

  backdrop-filter: blur(5px);
  background-color: hwb(0 0% 100% / 0.562);
  border-radius: 10px;
  color: white;
  margin-bottom: 5vh;
  cursor: pointer;

  display: flex;
  flex-direction: row;
}

.text-area{

}

.icons{
  margin-left: auto;
}

.complete{
  text-decoration: line-through;
}