@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

body{
  background-size: 50vh 50vh;
  background-repeat: no-repeat;
  font-family: 'Source Sans Pro', sans-serif;
}

#top-bar{
  height: 10vh;

  display: flex;
  flex-direction: row;
  
}

#left-top-bar {
  text-align: center;
  font-size: 2.5em;
  margin-left: 2vw;
  width: 20%;
}

#right-top-bar{
  font-size: 1.7em;
  margin-left: auto;
  margin-right: 2vw;
}